:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

:host > nav {
  grid-row: 1 / 2;
}

:host > main {
  padding: 2rem 0;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  z-index: 1;
}

:host > footer {
  grid-row: 3 / -1;
  z-index: 1;
}

:host router-outlet {
  display: contents;
}

div.login-register-page {
  background: url('/bg-gradient.svg') center no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  pointer-events: none;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background: url('/dot.svg');
    height: 300%;
    left: -50%;
    top: -100%;
    transform: rotate(-28deg);
    width: 200%;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    background: url('/blob.svg') center bottom no-repeat;
    background-size: 100%;
    inset: 0;
  }
}
