:host {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--bg);
  border-bottom: 1px var(--border) solid;
}

div.nav-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: var(--text);
  height: 4rem;

  h1 {
    font-size: 1.75rem;
    align-self: center;
    cursor: pointer;
  }

  ul {
    display: flex;
    list-style: none;
    height: inherit;

    li {
      display: block;
      height: inherit;
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      transition: var(--tran-03);

      &:hover {
        background-color: var(--bg-light);
      }
    }

    a {
      display: flex;
      height: inherit;
      align-items: center;
      column-gap: 0.5rem;
      text-decoration: none;
      color: var(--text);
      cursor: pointer;
    }
  }

  ul {
    justify-self: flex-end;
  }
}
