<section class="container">
  <form [formGroup]="shiftForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Vigência incial</mat-label>
      <input class="mat-input" matInput [matDatepicker]="dateinitpicker" required>
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dateinitpicker"></mat-datepicker-toggle>
      <mat-datepicker #dateinitpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Horário inicial</mat-label>
      <input class="mat-input" matInput [matTimepicker]="timeinitpicker" required>
      <mat-timepicker-toggle matIconSuffix [for]="timeinitpicker" />
      <mat-timepicker interval="5min" #timeinitpicker />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vigência final</mat-label>
      <input class="mat-input" matInput [matDatepicker]="dateendtpicker" required>
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dateendtpicker"></mat-datepicker-toggle>
      <mat-datepicker #dateendtpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Horário final</mat-label>
      <input class="mat-input" matInput [matTimepicker]="timeendpicker" required>
      <mat-timepicker-toggle matIconSuffix [for]="timeendpicker" />
      <mat-timepicker interval="5min" #timeendpicker />
    </mat-form-field>

    <mat-form-field class="grid-col-span-2">
      <mat-label>Dia da semana</mat-label>
      <mat-select class="mat-select" [(value)]="selectedWeekday" matNativeControl required>
        @for (day of days; track day) {
        <mat-option [value]="day">{{weekday[day]}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="grid-col-span-2">
      <mat-label>Frequência</mat-label>
      <mat-select class="mat-select" [(value)]="selectedFrequency" matNativeControl required>
        @for (freq of frequencies; track freq) {
        <mat-option [value]="freq">{{frequency[freq]}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="select-container grid-col-span-2">
      @if (!isEditingWorkplace) {
      <mat-form-field>
        <mat-label>Local de trabalho</mat-label>
        <mat-select class="mat-select" [(value)]="selectedWorkplace" matNativeControl required>
          <mat-option>---</mat-option>
          @for (workplace of workplaces(); track workplace) {
          <mat-option [value]="workplace.id">{{workplace.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      } @else if (isEditingWorkplace) {
      <mat-form-field>
        <mat-label>Local de trabalho</mat-label>
        <input matInput class="mat-input" required>
      </mat-form-field>
      }
      @if (selectedWorkplace && !isEditingWorkplace) {
      <button type="button" matMiniFab aria-label="Example icon button with a edit icon" (click)="editHandle()">
        <mat-icon>edit</mat-icon>
      </button>
      } @else if (selectedWorkplace && isEditingWorkplace) {
      <button type="button" matMiniFab aria-label="Example icon button with a edit icon" (click)="editHandle()">
        <mat-icon>check</mat-icon>
      </button>
      <button type="button" matMiniFab aria-label="Example icon button with a edit icon" (click)="closeHandle()">
        <mat-icon>close</mat-icon>
      </button>
      } @else {
      <button type="button" matMiniFab aria-label="Example icon button with a edit icon" (click)="closeHandle()">
        <mat-icon>add</mat-icon>
      </button>
      }
    </div>
  </form>
</section>