fieldset {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);

  :first-child,
  :last-child {
    grid-column: span 2;
  }
}

input[type='submit'] {
  justify-self: end;
}
