:host {
  display: grid;
  grid-template-rows: 1fr auto;
}

form.edit-password {
  grid-row: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  fieldset {
    border: none;
    width: 100%;
    row-gap: 1rem;
    display: grid;

    div > input {
      width: 100%;
      padding: 0.75rem 0.5rem;
      border-radius: 0.25rem;
      background-color: var(--sidebar-color);
      border: 2px solid var(--body-color);
      outline: none;
      caret-color: white;
      color: white;
      transition: var(--tran-03);

      &:focus {
        border-color: var(--primary-color);
      }

      &.invalid-input {
        background-color: var(--danger-color-light);
        border-color: var(--danger-color);
        transition: var(--tran-03);

        &::placeholder {
          color: white;
        }
      }
    }

    .button {
      justify-self: end;
    }
  }
}

.messages {
  grid-row: 2 / -1;
  font-weight: 300;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  margin: 0 1rem;

  &.error {
    background-color: var(--danger-color-light);
  }

  &.success {
    background-color: var(--success-color-light);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--sidebar-color) inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}
