:host {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

form {
  :first-child,
  :nth-child(2),
  :last-child {
    grid-column: span 2;
  }
}

input[type='submit'] {
  justify-self: end;
}
