/* You can add global styles to this file, and also import other style files */
@import './custom-theme.scss';

:root {
  --bg-dark: hsl(0 0% 90%);
  --bg: hsl(0 0% 95%);
  --bg-light: hsl(0 0% 100%);

  --text: hsl(0 0% 5%);
  --text-muted: hsl(0 0% 30%);

  --highlight: hsl(293, 88%, 50%);
  --border: hsl(0 0% 60%);
  --border-muted: hsl(0 0% 80%);

  --primary: hsl(283, 100%, 35%);
  --primary-muted: hsl(283, 100%, 30%);
  --secondary: hsl(40, 100%, 47.06%);

  --danger: hsl(7 100% 50%);
  --danger-muted: hsl(7 100% 65%);
  --warning: hsl(53 100% 21%);
  --success: hsl(162 100% 20%);
  --success-muted: hsl(162 100% 30%);
  --info: hsl(217 100% 40%);
  --info-muted: hsl(217 100% 55%);

  --tran-01: all 0.1s ease;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

::selection {
  background: var(--primary);
  color: var(--bg-dark);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html,
body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
}

html {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text);
}

body {
  background: var(--bg-dark);
  background-image: url('/blob.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: var(--primary);
}

.container {
  background-color: var(--bg);
  width: 90%;
  overflow: hidden;
}

.error {
  display: grid;
  row-gap: 0.5rem;
  background-color: var(--danger);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
}

.success {
  display: grid;
  row-gap: 0.5rem;
  background-color: var(--success);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
}

.mat-mdc-text-field-wrapper,
.mat-mdc-form-field .mat-mdc-text-field-wrapper {
  padding: 0 !important;
}
