/* You can add global styles to this file, and also import other style files */
:root {
  --bg-dark: hsl(0 0% 90%);
  --bg: hsl(0 0% 95%);
  --bg-light: hsl(0 0% 100%);

  /* --text: hsl(56.67, 90%, 96.08%);
  --text-muted: hsl(297, 94.34%, 79.22%); */
  --text: hsl(0 0% 5%);
  --text-muted: hsl(0 0% 30%);

  --highlight: hsl(293, 88%, 50%);
  --border: hsl(0 0% 60%);
  --border-muted: hsl(0 0% 80%);

  --primary: hsl(283, 100%, 35%);
  --primary-muted: hsl(283, 100%, 30%);
  --secondary: hsl(40, 100%, 47.06%);

  --danger: hsl(7 100% 66%);
  --warning: hsl(53 100% 21%);
  --success: hsl(162 100% 22%);
  --info: hsl(217 100% 70%);

  --tran-01: all 0.1s ease;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

::selection {
  background: var(--primary);
  color: var(--bg-dark);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html,
body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

html {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text);
}

body {
  background: var(--bg-dark);
  background-image: url('/blob.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: var(--primary);
}

/* form {
  display: grid;
  gap: 0.5rem;
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--border);

  div {
    display: grid;
  }

  label {
    color: var(--text-muted);
  }

  input {
    height: 2rem;
    width: 100%;
    padding: 0 0.25rem;
    outline: none;
    border: 1px solid var(--border-muted);
    border-radius: 0.25rem;
    background-color: var(--primary);
    color: var(--bg-dark);
    transition: var(--tran-03);

    &:focus {
      border-color: var(--highlight);
      color: var(--bg-dark);
    }

    &::placeholder {
      color: var(--bg-dark);
    }
  }

  input[type='submit'] {
    width: fit-content;
    padding: 0 1.5rem;
    background-color: var(--bg-light);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: var(--tran-03);

    &:hover {
      background-color: var(--primary);
      color: var(--bg-dark);
    }
  }
} */

.container {
  height: 100%;
  width: 50rem;
  background-color: var(--bg);
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
}

.error {
  display: grid;
  row-gap: 0.5rem;
  background-color: var(--danger);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
}

.success {
  display: grid;
  row-gap: 0.5rem;
  background-color: var(--success);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
}

.invalid-input {
  border-color: var(--danger);
}
